* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.list-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-item {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 0.5rem;
  line-height: 0.8rem;
  /* margin: auto; */
}

.icon-span {
  border: 1px solid black;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  order: -1;
}
.icon-span-active {
  border: 1px solid black;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: -1;
  /* background: #000; */
}

.progress-span {
  display: none;
  height: 1rem;
  width: 1rem;
  border: solid black 1px;
  border-radius: 100%;
}

.floor-btn {
  width: 3rem !important;
  border: 1px solid gray !important;
  height: 2.2rem !important;
  border-radius: 6px !important;
  padding: 0 !important;
  /* font-size: 0.8rem !important; */
  overflow: hidden !important;
  /* white-space: nowrap !important; */
  text-overflow: ellipsis !important;
  font-size: 0.7rem !important;
}

.floor-btn-active {
  width: 3rem !important;
  border: 1px solid gray !important;
  height: 2.2rem !important;
  border-radius: 6px !important;
  background-color: black !important;
  color: white !important;
  font-size: 0.7rem !important;
}

.duration-btn {
  width: 3rem !important;
  border: 1px solid gray !important;
  height: 2.2rem !important;
  border-radius: 6px !important;
  padding: 0 !important;
  /* font-size: 0.8rem !important; */
  overflow: hidden !important;
  /* white-space: nowrap !important; */
  text-overflow: ellipsis !important;
  font-size: 0.5rem !important;
}

.duration-btn-active {
  width: 3rem !important;
  border: 1px solid gray !important;
  height: 2.2rem !important;
  border-radius: 6px !important;
  background-color: black !important;
  color: white !important;
  font-size: 0.4rem !important;
}

@media (min-width: 1024px) {
  .progress-span {
    display: block;
  }

  .list-item {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: start;
  justify-items: start;
  font-size: 1rem;
  line-height: 1.2rem;
  /* width: 11rem; */
  }

  .icon-span {
    width: 2.5rem;
    height: 2.5rem;
    order: 0;
  }

  .icon-span-active {
    width: 2.5rem;
    height: 2.5rem;
    order: 0;
  }

  .floor-btn {
    width: 6rem !important;
    height: 2.5rem !important;
  }

  .floor-btn-active {
    width: 6rem !important;
    height: 2.5rem !important;
  }
  .duration-btn {
    width: 6rem !important;
    height: 2.5rem !important;
    font-size: 0.7rem !important;
  }

  .duration-btn-active {
    width: 6rem !important;
    height: 2.5rem !important;
    font-size: 0.7rem !important;
  }

}